/* * {
    outline: 1px solid red;
} */


html,
body {
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    font-family: 'DM Sans', sans-serif;
    color: #000000;
    background-color: #F08C69;
    font-size: 16px;
}

.container {
    position:relative;
    z-index: 99;
}

.content-container {
    max-width: 1300px;
    padding: 40px;
}

.full-width-container {
    margin-left: 40px;
    margin-right: 40px;
}

/* Header & Body Font Sizes */

.header-xlarge {
    font-size: 11.25em;
}

.header-large {
    font-size: 8.7em;
    line-height: 154px;
}

.large-cta-text {
    font-size: 6.87em;
}


h1 {
    font-size: 5em;
    font-weight: 400;
}

h2 {
    font-size: 3.812em;
    font-weight: 400;
}

h3 {
    font-size: 2.250em;
    font-weight: 400;
}

h4 {
    font-size: 2.250em;
    font-weight: 400;
}

h5 {
    font-size: 1.688em;
    font-weight: 400;
}

.p-large,
.p-nav {
    font-size: 1.312em;
}

.p-small {
    font-size: 0.750em;
}

.p-xsmall {
    font-size: 0.562em;
}


/* Nav Styling */

.navbar {
    position: relative;
    z-index: 98;
    border-bottom: 4px solid #000000;
    margin-left: 40px;
    margin-right: 40px;
    color: #000000;
    height: 100px;
}

.nav-item {
    margin-left: 2em;
}

.nav-link {
    color: #000000;
}

.nav-link:hover {
    color: #141414;
}

.nav-link-contact {
    background-color: #000000;
    border-radius: 100000px;
    color: white;
    padding: 8px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 27px;
}

.nav-link-contact:hover {
    color: lightgrey;
}

.navbar-brand {
    font-size: 32px;
    font-weight: 500;
    color: #000000;
}

.navbar-brand:hover {
    color: #141414;
}

.nav-container {
    padding: 0;
}

.navbar-toggler {
    font-size: 32px;
    color: black;
}

/* button Styling */

.nav-contact,
.button-main {
    background-color: #000000;
    border-radius: 100000px;
    color: white;
    padding: 8px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 21px;
    border: none;
}

.button-main {
    font-size: 27px;
}

.button-main:hover {
    color: lightgrey;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: black;
}

a h3:hover {
    text-decoration: underline;
    color: black;
}

/* Name Section Styling */

.header-section {
    height: 80vh;
    padding: 40px 40px;
    position: relative;
    z-index: 97;
}

.main-header-text {
    line-height: 198px;
}

.job-title {
    margin-top: 30px;
}

/* Gradient  */

.gradient-1 {
    height: 800px;
    width: 800px;
    position: absolute;
    z-index: -1;
    background: rgb(81,103,240);
    background: radial-gradient(circle, rgba(81,103,240,0.41360294117647056) 30%, rgba(64,77,163,0) 70%);
    top: 100px;
    left: 750px;
}

.scroll-details-container {
    margin-top: 40px;;
}

hr {
        border-bottom: 4px solid #000000;
        color: #000000;
        height: 100px;
        opacity: 1;
        position: relative;
        top: 90%;
    }

/* Intro Section */

.intro-container {
    margin: 180px 50px 130px 50px;
}

.intro-row {
    padding-right: 75px;
}

.intro-row h3 {
    padding-top: 120px;
}
/* Projects Section Styling */

.card {
    border: none;
    background-color: transparent;
    margin-top: 80px;
    border-radius: 0px;
}

.card-img-top {
    border: black solid 4px; 
}

.card-img-ctr {
    position: relative;
    width: 100%;
}

.card-img {
    border-radius: 0em;
    border-top-right-radius: 0em;
    opacity: 1;
}


.card-img-ctr a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);  
}


.button-projects {
    visibility: hidden;
}

.card-body {
    padding-left: 0;
    margin-top: 36px;
}

.card-body p {
    padding: 0px;
}

/* Technologies Section */
.technologies-section {
    margin-top: 120px;
    margin-bottom: 180px
}

.technologies-section h5 {
    padding-bottom: 58px;
}

/* Bottom/Hello  Large Text Section */
.large-text-center {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 120px 40px;
}

.hello-container,
.hello-text {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.hello-container.is-hovered {
    background-color: black;
}

.hello-text.is-hovered {
    color: white;
}

/* About & Project Page Page Styling */

.header-button {
    margin-top: 34px;
}

.sub-header h5 {
    margin-left: 15px;
    margin-top: 58px;
}

.project-page-img-row {
    margin-top: 200px;
}

.project-page-img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.project-page-img img {
    border: solid 4px #000000;
    box-shadow: 4px 4px #F08C69, 24px 24px black;
    max-width: 1000px;
}

/* Personal images styling */

.personal-images,
.gallery-image {
    border-radius: 10000px;
    border: solid 4px #000000;
    box-shadow: 4px 4px #F08C69, 20px 20px black;
}

.profile-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.gallery-images-row {
    padding-top: 50px;
    margin-bottom: 200px;
}

.gallery-images {
    display: inline-flex;
    justify-content: center;  
}

.gallery-image {
    margin: 15px;
    max-width: 300px;  
}




/* Footer */

footer {
    margin-left: 40px;
    margin-right: 40px;
    color: #000000;
    height: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    font-size: 27px;
}

.footer-item {
    justify-content: end;
}

.footer-item li a {
    color: black;
    text-decoration: none;
}

.footer-item li a:hover {
    color: lightgrey;
}


.footer-slash {
    margin-left: 15px;
    margin-right: 15px;
}

/* Media Queries */

@media (max-width: 991.98px) { 
    
    .nav-item {
        margin: 0px;
    }

    .navbar {
    height: 100px;
    }

    .nav-item-about {
        margin: 24px;
    }
    
    .header-xlarge {
        font-size: 135px;
        line-height: 150px;
    }

    .header-large {
        font-size: 115px;
        line-height: 135px;
    }

    .gradient-1 {
        height: 800px;
        width: 800px;
        left: -250px;
        top: -50px
    }

    .header-section {
        padding-top: 100px;
        /*height: 75vh;*/
    }

    .header-section-subpage {
        padding-top:30px;
        /*height: 75vh;*/
    }

    .profile-image {
        padding-top: 25px;
    }

    .sub-header {
        margin-left: 0px;
    }

    .header-section-subpage .container {
        padding-top: 0px;
    }

    .personal-images {
        max-height: 350px;
    }

    .header-button {
        margin-top: 0px;
        margin-bottom: 20px;
    }

    .intro-container {
        margin-top: 75px;
        margin-bottom: 56px;
    }
    
    .intro-row {
        padding-right: 0;
    }
    
    .intro-col {
        margin-left: 0;
    }

    .intro-row h3 {
        padding-top: 56px;
        
    }

    .work-experience-row {
        margin-bottom: 100px;
    }

    .work-experience-row a {
        margin-top: 25px;
    }
    
    .gallery-image {
        max-width: 200px; 
        margin: 15px; 
    }

    .project-page-img-row {
        margin-top: 150px;
        margin-bottom: 100px;
    }

    .large-cta-text {
        font-size: 65px;
    }
    
    .large-text-center {
        padding: 56px 40px;
    }

    footer {
        display: block;
        font-size: 16px;
        height: 100px;
        margin-top: 30px;;
    }
  
    .footer-item,
    .footer-c {
        justify-content: center;
    }
}



 @media (max-width: 767.98px) {

    .content-container {
        padding: 10px 25px;
    }

    .images-container {
        padding: 10px 40px;
    }

    .header-section-subpage {
        padding-top: 0px;
        height: 95vh;
    }

    .header-xlarge {
        font-size: 105px;
        line-height: 100px;
    }

    .header-large {
        font-size:85px;
    }


    .personal-images {
        max-height: 300px;
        margin-bottom: 60px
    }

    .header-button {
        font-size: 20px;
        margin-bottom: 10px;
    }

    h1 {
        font-size: 36px;
    }

    h2 {
        font-size: 48px;
    }

    h5 {
        font-size: 21px;
    }
    
    .gallery-image {
        max-width: 150px;  
    }

}



 @media (max-width: 600px) {
    .gradient-1 {
        height: 600px;
        width: 600px;
        left: -250px;
        top: -150px;
    } 

    .header-section-subpage {
        padding-top: 0px;
        height: 80vh;
    }

    
    .header-container {
        padding-top: 0px;
        padding: 0px;
    }

    .header-xlarge {
        font-size: 60px;
        line-height: 68.2px;
    }
    

    .job-title h5,
    h5 {
    font-size: 20px;
    line-height: 24px;
   }

   .header-large {
       font-size: 60px;
   }

   .personal-images {
       max-height: 255px;
       margin-bottom: 60px
   }

    .header-button {
        margin-top: 0px;
    }

    h2 {
        font-size: 32px;
    }

    h3 {
        font-size: 21px;
        font-weight: normal;
    }
    
    .p-large {
        font-size: 16px;
    }

    .intro-container {
        margin: 75px 50px 50px 50px;
    }

   .card {
    padding-top: 0px;
    margin-top: 50px;
    }
   
    .card-body {
        padding-top: 10px;
    }

    .card-body a h3 {
        font-size: 27px;
    }

    .technologies-section {
        margin-top: 40px;
        margin-bottom: 100px
    }
    
    .technologies-section h5 {
        padding-bottom: 24px;
    }

    .large-cta-text {
        font-size: 48px;
    }

    .footer-slash {
        margin-left: 5px;
        margin-right: 5px;
    }

    .footer-c p {
        margin-bottom: 5px;
    }
}

@media (max-width: 480px) {
    .content-container {
        padding: 10px 20px;
    }
    
    .header-section-subpage {
        padding: 50px 20px;
    }

    .project-header-section {
        height: 65vh;
    }

    .project-page-img-row {
        margin-top: 75px;
        margin-bottom: 75px;
    }

    .gradient-1 {
        height: 500px;
        width: 500px;
        left: -200px;
    } 

    .button-projects {
        font-size: 21px;
    }

    .header-large {
        font-size: 48px;
        line-height: 52px;
    }

    .sub-header h5 {
        margin-top: 40px;
        margin-left: 5px;
    }

    .project-subhead-btn {
        margin-top: 50px;
    }

    .gallery-images-row {
        margin-bottom: 120px;
        padding-top: 25px;
    }

}