html,
body {
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    font-family: 'DM Sans', sans-serif;
    color: #000000;
    background-color: #F08C69;
    font-size: 16px;
}

.content-container {
    max-width: 1200px;
    padding: 40px;
}

.full-width-container {
    margin-left: 40px;
    margin-right: 40px;
}

/* Header & Body Font Sizes */

.header-xlarge {
    font-size: 11.25em;
}

.header-large {
    font-size: 8.7em;
}

.large-cta-text {
    font-size: 6.87em;
}


h1 {
    font-size: 5em;
}

h2 {
    font-size: 3.812em;
    font-weight: 400;
}

h3 {
    font-size: 2.938em;
}

h4 {
    font-size: 2.250em;
    font-weight: 400;
}

h5 {
    font-size: 1.688em;
    font-weight: 400;
}

.p-large {
    font-size: 1.312em;
}

.p-small {
    font-size: 0.750em;
}

.p-xsmall {
    font-size: 0.562em;
}


/* Nav Styling */

.navbar {
    border-bottom: 4px solid #000000;
    margin-left: 40px;
    margin-right: 40px;
    color: #000000;
    height: 100px;
}

.nav-item {
    margin-left: 2em;
}

.nav-link {
    color: #000000;
}

.nav-link:hover {
    color: #141414;
}

.nav-link-contact {
    background-color: #000000;
    border-radius: 100000px;
    color: white;
    padding: 8px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 21px;
}

.nav-link-contact:hover {
    color: lightgrey;
}

.navbar-brand {
    font-size: 32px;
    font-weight: 500;
    color: #000000;
}

.navbar-brand:hover {
    color: #141414;
}

.nav-container {
    padding: 0;
}

.navbar-toggler {
    border: none;
    
  }

  .navbar-toggler:focus,
  .navbar-toggler:active,
  .navbar-toggler-icon:focus {
      outline: none;
      box-shadow: none;
  }

/* button Styling */

.button-main {
    background-color: #000000;
    border-radius: 100000px;
    color: white;
    padding: 8px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 27px;
}

/* Name Section Styling */

.name-section {
    height: 80vh;
    padding: 40px 40px;
}

.main-header-text {
    line-height: 198px;
}

.job-title {
    margin-top: 30px;
}

.scroll-details-container {
    margin-top: 40px;;
}


hr {
        border-bottom: 4px solid #000000;

        color: #000000;
        height: 100px;
        opacity: 1;
        position: relative;
        top: 90%;
    }

/* Intro Section */

.intro-container {
    margin: 180px 50px 130px 50px;
}

.intro-row {
    padding-right: 75px;
}

.intro-row h4 {
    padding-top: 120px;
}
/* Projects Section Styling */

.card {
    border: none;
    background-color: transparent;
    margin-top: 80px;
    border-radius: 0px;
}

.card-img-top {
    border: black solid 4px; 
}

.card-img-ctr {
    position: relative;
    width: 100%;
}

.card-img {
    border-radius: 0em;
    border-top-right-radius: 0em;
}
.card-img-ctr button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
    
}

.card-body {
    padding-left: 0;
    margin-top: 36px;
}

.card-body p {
    padding: 0px;
}

/* Bottom Large Text Section */
.large-text-center {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 120px 40px;
}

/* Footer */

footer {
    margin-left: 40px;
    margin-right: 40px;
    color: #000000;
    height: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    font-size: 27px;
}

.footer-item {
    justify-content: end;
}

.footer-slash {
    margin-left: 15px;
    margin-right: 15px;
}

/* Media Queries */

@media (max-width: 991.98px) { 
    .header-xlarge {
        font-size: 135px;
        line-height: 150px;
    }

    .name-section {
        padding-top: 100px;
        height: 75vh;
    }

    .large-cta-text {
        font-size: 65px;
    }
    
    .large-text-center {
        padding: 56px 40px;
    }


    footer {
        display: block;
        font-size: 16px;
        height: 100px;
        margin-top: 30px;;
    }
  
    .footer-item,
    .footer-c {
        justify-content: center;
    }
}



 @media (max-width: 767.98px) {
    .name-section {
        padding-top: 150px;
        height: 70vh;
    }

    .header-xlarge {
        font-size: 105px;
        line-height: 100px;
       }

    h5 {
        font-size: 21px;
    }
}



 @media (max-width: 600px) {
    
    .name-section {
        padding-top: 136px;
        height: 60vh;
    }

    .name-container {
        padding-top: 0px;
        padding: 0px;
    }

    .header-xlarge {
        font-size: 63px;
        line-height: 68.2px;
       }
    
    h2 {
        font-size: 32px;
    }

    h3 {
        font-size: 21px;
        font-weight: normal;
    }
    
    .p-large {
        font-size: 14px;
    }

    .intro-container {
        margin-top: 75px;
        margin-bottom: 56px;
    }
    
    .intro-row {
        padding-right: 0;
    }
    
    .intro-col {
        margin-left: 0;
    }
    .intro-row h3 {
        padding-top: 56px;
        
    }

   .job-title h5 {
        font-size: 20px;
        line-height: 24px;
   }

   .card {
    padding-top: 0px;
    margin-top: 50px;
    }
   
    .card-body {
        padding-top: 10px;
    }

    .large-cta-text {
        font-size: 48px;
    }

    .footer-slash {
        margin-left: 5px;
        margin-right: 5px;
    }
}
