html,
body {
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    font-family: 'DM Sans', sans-serif;
    color: #000000;
    background-color: #F08C69;
}

/* NAv Styling */

.navbar {
    border-bottom: 4px solid #000000;
}